

body{
    background-color: #FFF0E4;
  
    font-family: 'Galada', cursive;
    
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}



.meu-header {
    background-image: url('img/Foto\ 1\ header.jpeg');
    background-size: cover; 
    color: #E5CBB6;
    text-align: center; 
    padding: 100px; }


.titulo-header {
    font-size: 7em; 
    margin-bottom: -20px; 
    text-shadow: 5px 5px 5px #735944; 
}

.subtitulo-header{
    font-size: 3em;
    margin-bottom: 40px; 
    text-shadow: 5px 5px 5px #735944;
}


.menu-header {
    margin-top: 10px;
}


.link-header {
    background-color: #784C34;
    color: #E5CBB6; 
    text-decoration: none; 
    margin: 14px 1px; 
    font-size:xx-large; 
    margin-left: 50px;
    
        
}
.link-header2 {
    background-color: #784C34;
    color: #E5CBB6; 
    text-decoration: none; 
    margin: 14px 1px; 
    font-size:xx-large; 
    margin-left: 90px;
    
}
    

.conteudo-section {
    padding: 100px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.titulo-section {
    font-size: 2em; 
    margin-bottom: 20px; 
}

.texto-sobre{
    font-size: 1.5em;
    color: #784C34;
}

.sobre-section{
    color: #784C34;
}

.subtitulo-cardapio{
    color: floralwhite;
    font-size: 55px;
    text-shadow: 5px 5px 5px #735944; 
}

.subtitulo-cardapio2{
    color: floralwhite;
    height: 120px;
    margin-left: 430px;
    font-size: 60px;
    text-shadow: 5px 5px 5px #735944; 
}
.divisao {
    width: 100%;
    height: 1px;
    border-top: 3px dashed #735944; 
    margin: 30px ; 
}




.prato2-section{
    background-color: black;
    width:500px;
    height: 400px;
    display: block;
    margin-left: 0%;
    margin-right: 0%;
 }

.prato3-section{
    background-color: black;
   width:700px;
   height: 500px;
   margin-left: 25%;
   margin-right: 0%;
}
.prato5-section{
    background-color: black;
   width:700px;
   height: 500px;
   margin-left: 10%;
   margin-right: 0%;
}
.prato4-section{
    background-color: black;
   width:500px;
   height: 400px;
   display: block;
   margin-left: 5%;
   margin-right: 0%;
}
.texto-prato{
    text-align: center;
 font-size: 20px;
 color: #784C34;
 margin-left: 50px;
 display: flex;
}
.preco-prato{
text-align: center;
color: #784C34;
}
.titulo-prato{
text-align:center ;
font-size: 25px;
color: #784C34;
}
.texto-prato2{
    text-align: center;
    font-size: 20px;
    color: #784C34;
    display: flex;
    margin-left: 50px;
   }

.geral{
    text-align: center;
    font-size: 25px;
    color: #784C34;
}
.geral-2{
    text-align: center;
    font-size: 20px;
    color: #784C34;
   
}
.geral-3{
    text-align: center;
    font-size: 20px;
    color: #784C34;
   
}

.PLACA{
    text-align: center;
    font-size: 90px;
    color: #784C34;


}


.ICONES{

   
    width:200px;
    margin-left: 30%;
    margin-right: 0%;
    color: #784C34;
   display: flex;
   
}
.ICONES2{
width: 130px;
    margin-left: 35%;
    margin-right: 0%;
    color: #784C34;
   display: flex;
   
}

.container{
    display: flex;
    align-items: center;
    
}
.titulo-contato{
text-align: center;
    font-size: 40px;
    color: #784C34;
}
.ICONES3{ 
    width:70px;
    margin-left: 48%;
    margin-right: 0%;
    color: #784C34;
 
   
}
.marrom{
    font-size: 40px;
    text-align: center;
    color: white;
    background-color:#784C34;
}