/* Resetando margens e preenchimentos padrão do navegador */

body{
    background-color: #FFF0E4;
  
    font-family: 'Galada', cursive;
    
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}


/* Estilo para o header */
.meu-header {
    background-image: url('img/Foto\ 1\ header.jpeg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Garante que a imagem cubra todo o header */
    color: #E5CBB6; /* Cor do texto no header, neste caso, branco */
    text-align: center; /* Alinhamento do texto no centro */
    padding: 100px; /* Preenchimento interno do header */
}

/* Estilo para o título principal no header */
.titulo-header {
    font-size: 7em; /* Tamanho da fonte do título principal */
    margin-bottom: -20px; /* Removendo o espaçamento do elemento de baixo */
    text-shadow: 5px 5px 5px #735944; /* Adiciona uma sombra ao texto para criar um contorno */
}

.subtitulo-header{
    font-size: 3em; /* Tamanho da fonte do título principal */
    margin-bottom: 40px; /* Espaçamento inferior do título principal */
    text-shadow: 5px 5px 5px #735944; /* Adiciona uma sombra ao texto para criar um contorno */
}

/* Estilo para a navegação no header */
.menu-header {
    margin-top: 10px; /* Espaçamento superior para a navegação */
}

/* Estilo para os links na navegação */
.link-header {
    background-color: #784C34;
    color: #E5CBB6; /* Cor do texto dos links, neste caso, branco */
    text-decoration: none; /* Remover sublinhado dos links */
    margin: 0 15px; /* Espaçamento horizontal entre os links */
    font-size: 2em; /* Tamanho da fonte dos links */
}

.conteudo-section {
    padding: 100px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}

.titulo-section {
    font-size: 2em; /* Tamanho da fonte  */
    margin-bottom: 20px; /* Adicione espaçamento abaixo do título da seção */
}

.texto-sobre{
    font-size: 1.5em; /* Tamanho da fonte  */
    color: #784C34;
}

.sobre-section{
    color: #784C34;
}

.subtitulo-cardapio{
    color: floralwhite;
    height: 120px;
    margin-left: 10%;
    font-size: 60px;
    text-shadow: 5px 5px 5px #735944; /* Adiciona uma sombra ao texto para criar um contorno */
}

.subtitulo-cardapio2{
    color: floralwhite;
    height: 120px;
    margin-left: 520px;
    font-size: 60px;
    text-shadow: 5px 5px 5px #735944; /* Adiciona uma sombra ao texto para criar um contorno */
}
.divisao {
    width: 100%;
    height: 1px;
    border-top: 3px dashed #735944; /* Adicione uma linha tracejada de cor cinza */
    margin: 30px 0; /* Adicione espaçamento acima e abaixo da linha */
}



.prato1-section{
    background-color: black;
    width: 500px;
   height: 450px;
   display: block;
   margin-left: 0%;
   margin-right: 0%;
}
.prato2-section{
    background-color: black;
   width:400px;
   height: 400px;
   display: block;
   margin-left: 70%;
   margin-right: 0%;
}
.prato3-section{
    background-color: black;
   width:1100px;
   height: 900px;
   margin-left: 10%;
   margin-right: 0%;
}
.prato4-section{
    background-color: black;
   width:450px;
   height: 450px;
   display: block;
   margin-left: 35%;
   margin-right: 0%;
}
.texto-prato{
 text-align: center;
 font-size: 20px;
}
.preco-prato{
text-align: center;
}
.titulo-prato{
text-align: center;
font-size: 25px;
}